@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e7ebee;
    max-width: 1400px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background: #e7ebee;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
} 